ul {
  list-style: none;
  width: 110%;
  text-align: left;
}

.related-users {
  font-size: 1.75em;
}

.content-descriptor {
  margin-top: 0;
  font-size: 1.5em;
  color: purple;
}

.pull-left {
  float: left;
  font-size: 1.75em;
}

.btn-circle {
  border: 1px solid purple;
  border-radius: 50%;
  width: 3.5em !important;
  height: 3.5em !important;
  background-color: rgba(255, 0, 255, 0.5);
  display: inline-block;
  width: 10em;
  height: 3em;
  padding: 0.1em 0.5em;
  color: white;
  font-size: 0.8em;
}

.button-label {
  text-align: center;
  width: 6em;
  border: 1px solid magenta;
  font-size: 0.5em;
  color: black;
  margin-top: 0em;
  margin-left: -.15em;
  margin-bottom: .5em;
}

.btn-circle p {
  color: black;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border: 1px solid black;
  line-height: 1.5em;
}

.btn-circle i {
  font-size: 2.5em;
  margin: 1px auto 0 1px;
  text-align: center;
  color: rgba(128, 0, 0, 0.5);
}

.btn-circle .id-for-icon {
  font-size: 0.75em !important;
  color: black;
  width: 1.5em;
  margin: -0.4em auto 0;
}
