<div class="row">
  <ul>
    <p style="margin-top: 1em;" class="content-descriptor">Similar guests</p>
    <li class="col-lg-3 col-md-4 col-sm-12 col-xs-12 pull-left" *ngFor="let guest of guests; let i = index;" style="margin-left: .5em;">
      <a routerLink="/guest/{{guest.id}}">
        <div class="btn-circle mat-elevation-z8">
          <i class="fa fa-user"></i>
          <p class="id-for-icon">{{ guest.id }}</p>
        </div>
        <div class="button-label mat-elevation-z4">{{ guest.name }}</div>
      </a>
    </li>
  </ul>
</div>
<div class="row">
  <ul>
    <p class="content-descriptor">Related Guides</p>
    <li class="col-lg-3 col-md-4 col-sm-12 col-xs-12 pull-left" *ngFor="let guide of guides; let i = index;" style="margin-left: .5em;">
      <a routerLink="/guide/{{guide.id}}">
        <div class="btn-circle mat-elevation-z8">
          <i class="fa fa-user"></i>
          <p class="id-for-icon">{{ guide.id }}</p>
        </div>
        <div class="button-label mat-elevation-z4">{{ guide.name }}</div>
      </a>
    </li>
  </ul>
</div>