<!-- Brian puts the love in Angular: http://brianflove.com/2016/10/18/angular-2-google-maps-places-autocomplete/ -->
<div class="form-group search">
  <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
</div>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="latitude" [longitude]="longitude">

  <agm-marker
    [latitude]="latitude"
    [longitude]="longitude"
    (markerClick)="markerClick()"
  >
  </agm-marker>
</agm-map>