<app-header></app-header>

<div class="container view" [@slideInLeft]>
  <div class="row">
      <div class="col-lg-5 col-md-6 col-sm-6 col-xs-4 related-users" >
        <app-related-users></app-related-users>
      </div>

      <div class="col-lg-6 col-md-5 col-sm-6 col-xs-5 mat-elevation-z4 section-map">
        <p>Where would you like to visit?</p>
        <app-agm>loading</app-agm>
        <div class="user-interests">
          <app-user-interests></app-user-interests>
        </div>
      </div>


  <!-- <app-messages></app-messages> -->
  </div>
</div>

<app-footer></app-footer>