<app-header></app-header>

<div class="container view" [@slideInLeft]>
  <div class="row">
    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-4 related-users">
      <div>
        <div class="row">
          <ul>
            <p style="margin-top: 5em;" class="content-descriptor">Similar guests</p>
            <li  [@slideInLeft] class="col-lg-2 col-md-3 col-sm-4 col-xs-4 pull-left" *ngFor="let guest of this.guests; let i = index;" style="min-width: 1.5em;margin-left: .5em;">
              <div>
                <a routerLink="/guest/{{guest.id}}">
                  <div class="btn-circle mat-elevation-z8">
                    <i class="fa fa-user"></i>
                    <p class="id-for-icon">{{ guest.id }}</p>
                  </div>
                  <div class="button-label mat-elevation-z4">{{ guest.name }}</div>
                </a>
                <!-- <fa-icon [icon]="['fas', 'coffee']" size="xs"></fa-icon> -->
              </div>
            </li>
          </ul>
        </div>
        <div class="row">
          <ul>
            <p class="content-descriptor">Related Guides</p>
            <li  [@slideInLeft] class="col-lg-2 col-md-3 col-sm-4 col-xs-4 pull-left" *ngFor="let guide of this.guides; let i = index;" style="min-width: 1.5em;margin-left: .5em;">
              <a routerLink="/guide/{{guide.id}}">
                <div class="btn-circle mat-elevation-z8">
                  <i class="fa fa-user"></i>
                  <p class="id-for-icon">{{ guide.id }}</p>
                </div>
                <div class="button-label mat-elevation-z4">{{ guide.name }}</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-5 col-sm-6 col-xs-5 mat-elevation-z4 section-map">
      <p>Where would you like to visit?</p>
      <app-agm>loading</app-agm>
      <ul class="display-interests">
        <li *ngFor="let interest of interests; let i = index;">
          {{ interest }}
        </li>
      </ul>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 user-interests">
        <app-user-interests (SelectedInterests)="receiveMessage($event)"></app-user-interests>
        <div class="all-users">
          <p>All registered users</p>
          <ul>
            <li *ngFor="let user of users$">
              {{user.username}} ({{user.firstName}} {{user.lastName}})
            </li>
          </ul>
        </div>    
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>