<app-header></app-header>

<div class="container view" [@slideInLeft]>
  <div class="row">
    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-4 related-users">
      <app-related-users></app-related-users>
    </div>

    <div class="col-lg-6 col-md-5 col-sm-6 col-xs-5 mat-elevation-z4 section-map">
      <p>Where would you like to visit?</p>
      <app-agm>loading</app-agm>
      <ul class="display-interests">
        <li *ngFor="let interest of interests; let i = index;">
          {{ interest }}
        </li>
      </ul>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 user-interests">
        <app-user-interests (SelectedInterests)="receiveMessage($event)"></app-user-interests>
        <div class="all-users">
          <p>All registered users:</p>
          <ul>
            <li *ngFor="let user of users$">
              {{user.username}} ({{user.firstName}} {{user.lastName}})
            </li>
          </ul>
        </div>    
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>