.view {
  width: 100%;
  position: absolute;
  top: 7em;
  left: 1em;
}

.pull-left {
  width: 3em;
  float: left;
}
.app-loading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.app-loading .spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #ddd;
}

.section-map {
  margin-left: 0;
  height: 25em;
  background-color: rgba(64, 224, 208, 0.3);
  border: 1px solid teal;
  border-radius: 5px;
}
.section-map p {
  font-size: 1.5em;
}
.user-interests {
  position: absolute;
  right: -8em;
  top: 2em;
}

.display-interests {
  position: relative;
  margin-left: -3em;
  margin-top: 1em;
}

.display-interests li {
  display: inline-block;
  background-color: hotpink;
  border-radius: 5px;
  line-height: 2em;
  width: 5em;
  margin-right: 1em;
  text-align: center;
}

.all-users {
  border: 1px solid red;
  margin-top: 18em;
  margin-left: -6em;
  width: 15em;
  font-size: 0.8em;
}

.all-users ul {
  list-style: none;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
